.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);

  .keyboard {
    &__row {
      display: flex;
      column-gap: 8px;
      margin-top: 4px;
    }
  }

  --background-color: #23272a;
  --key-face-color: #5865f2;
  --key-body-color: #404eed;
  --key-text-color: #f6f6f6;

  &.duolingo {
    --background-color: #235390;
    --key-face-color: #58cc02;
    --key-body-color: #58a700;
    --key-text-color: #ffffff;
  }

  &.discord {
    --background-color: #23272a;
    --key-face-color: #5865f2;
    --key-body-color: #404eed;
    --key-text-color: #f6f6f6;
  }
}
